core-header-panel{
  position:inherit !important;
  .core-header {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    padding: 0 10px;
    background-color: #5B874A;
    color: #FFF;
    font-family: inherit;
    .application-name{
      font-weight: 100;
    }
    &.tall {
      height: 180px;
    }
    &.medium-tall {
      height: 120px;
    }
  }
  .content {
    height: 2000px;
    background: linear-gradient(#DDE3E7, #DDE3E7);
    padding: 1rem 1.2rem 0.9rem 0rem;
  }
}
