@import "../../common/common";

  .card{
    font-family: "RobotoDraft","Helvetica";
    font-weight:200;
    margin: 10px 10px 0;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
    &.panel-default{
      border: none;
    }
    @include box-shadow(0 3px 3px rgba(0,0,0,.2));
    .panel-heading {
      background: #ffffff;
      padding: 3.5%;
    }
    .feliz-card-body{
      padding: 0px;
      height: 135px;
      background: #F6F5F4;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #ddd;
      .section-text{
        width: 65%;
        padding-left: 10px;
        .name{
          color: #5B874A;
          font-weight: 300;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
          margin: 15px 0px 0px 0px;
        }
        .id{
          color: #888;
          font-weight: 300;
          width: 100%;
          margin: 0px;
        }
        .gender{
          color: #888;
          font-weight: 300;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
      }
      .section-number{
        color:#FF5812;
        font-weight: lighter;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 5px;
        font-size: 8rem;
      }
    }
    .panel-footer{
      padding: 0px;
      border-top: none;
      height: 35px;
      background: #fff;
      text-align: right;
      button{
        cursor: pointer;
      }
    }
  }
