@import "../../common/common";

.card{
   font-family: "RobotoDraft","Helvetica";
   font-weight:200;
   margin: 10px 10px 0;
   display: inline-block;
   width: 30%;
   .panel-table{
            height: auto;
            display: block;
            border-top:0px !important;
          }
   overflow: hidden;
   border-radius: 3px;
   &[state='true' ]{
      width: 45% !important;
      height: 170px;
        .panel-table{
           height: 0px;
           display: none;
        }
      }
   &:hover{
            @include box-shadow(0 3px 3px rgba(0,0,0,.8));
          }
   &.panel-default{
            border: none;
          }
   @include box-shadow(0 3px 3px rgba(0,0,0,.2));
   .panel-heading {
            background: #ffffff;
            padding: 3.5%;
          }
   .feliz-card-body{
            padding: 0px;
            height: 135px;
            background: #F6F5F4;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #ddd;
            .section-text{
              width: 65%;
              padding-left: 10px;
              .name{
                color: #005b85;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                margin: 15px 0px 0px 0px;
              }
              .id{
                color: #888;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                margin: 0px;
              }
              .gender{
                color: #888;
                font-weight: 300;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
              }
            }
            .section-number{
              color:#FF5812;
              font-weight: lighter;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-left: 5px;
              font-size: 8rem;
            }
          }
   .panel-table{
      border-top:0px !important;
      table{
              tr{
                &.allowedvid{
                  cursor: pointer;
                  color: #ff5812;
                  &.selected{
                    background: #faf9d4;
                    td{
                      font-weight: bold;
                      .glyphicon-stats{
                        color:#999;
                      }
                    }
                  }
                }
                td{
                  border: medium none;
                  color: #888;
                  font-size: 1.7rem;
                  font-weight: 300;
                  &.stat{
                    color:#005b85;
                  }
                  .glyphicon-stats{
                    color: #e6e6e6;
                  }
                }
                &:nth-child(even){
                  background: #F1F4F6;
                }
              }
            }
   }
   .panel-footer{
            padding: 0px;
            border-top: none;
            height: 35px;
            background: #fff;
            button{
              cursor: pointer;
              img{
                @include rotate(180deg);
                @include transition(transform 0.5s ease);
              }

            }
          }
 }